services:
  db: 
    image: postgres:15-alpine
    container_name: db
    restart: always
    ports:
      - '5010:5432'
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
