@import "tailwindcss";


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


body {
  background-color: khaki;
}

.text-divider {
  display: flex;
  align-items: center;
  text-align: center;
}
.text-divider::before,
.text-divider::after {
  content: "";
  flex-grow: 1;
  border-top: 0.0625rem solid #ccc;
  margin: 0 .5rem;
}
